:root{
    --primary-color: white;
   --background-color: rgb(26, 13, 13);
   --text-font-family: 'Dosis', sans-serif;
   --heading-font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   --button-backround: #b99ab6;
}

body{
    background-color: var(--background-color);
}    

h1,
h2,
h3,
h4,
h5,
h6{
font-family:var(--heading-font-family); 
color: var(--primary-color); 
font-weight: bold;
}

.heading{
text-align: center;
margin-top: 50px;
}

span{
font-family: 'Water Brush';
}

.contact-button{
    display: flex;
    justify-content: center;
}

.contact-button a{
    font-family: var(--text-font-family);
    border-radius: 30px;
    background-color: var(--button-backround);
    padding: 20px 20px;
    color: var(--primary-color);
    text-decoration: none;
    font-size: 15px;  
    box-shadow: 10px 6px 5px 5px #110210;
}
.contact-button:hover{
    text-decoration: underline;
}
.details{
    display: flex;
    justify-content: center;

}
.details a{
     font-family: var(--text-font-family);
    border-radius: 30px;
    border: 1px;
    background-color: var(--button-backround);
    padding: 10px 20px;
    color: var(--primary-color);
    text-decoration: none;
    box-shadow: 4px 4px 4px 4px#110210 ;
}

.paragraph{
color: var(--primary-color);
    font-weight: normal;
  font-size: 16px;
  line-height: 30px;
   
}

@media(max-width:967px){
.project-description{
    padding: 0;
    text-align: center;
}
}
.main{
    display: flex;
    justify-content: center;
}
.contact-email{
   text-align: center;
    color: var(--primary-color);
    font-size: 20px; 
    background-color: var(--button-backround);
margin: 50px 50px 50px 50px;
  padding: 50px 50px;
  border-radius: 10px;
  width: 400px;
    
}

.new-email{
    
      text-decoration: none;
    color: var(--primary-color);
  
}
.new-email:hover{
    color: var(--background-color);
    
   
}

.navigation{
    background-color:var(--button-backround)
}

footer{
    background-color: var(--button-backround);
  
}
footer .email-link{
    text-decoration: none;
    color: var(--primary-color);
    font-size: 24px;
}
.email-link:hover{
color:  var(--background-color);
text-decoration: underline;
}
.email{
    display: flex;
    justify-content: center;
}
.socials{
    display: flex;
    justify-content: center;
   
}
.socials a{
    margin: 20px 20px;
    color: var(--primary-color);
    background-color: var(--background-color);
    padding: 10px 10px;
    border-radius: 30px;
    line-height: 5px;

}
.socials a:hover{
    color: var(--background-color);
    background-color: var(--primary-color);
    transition: all 100ms ease-in-out;
}
