:root{
    --primary-color: white;
   --background-color: black;
   --text-font-family: 'Dosis', sans-serif;
   --heading-font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body{
    background-color: var(--background-color);
}

h1,
h2,
h3,
h4,
h5,
h6{
font-family:var(--heading-font-family); 
color: var(--primary-color); 
font-weight: bold;
}

.heading{
text-align: center;
margin-top: 50px;
}

span{
font-family: 'Water Brush';
}

.contact-button{
    display: flex;
    justify-content: center;
}

.contact-button a{
    border: 10px solid white;
    border-radius: 30px;
    background-color: white;
    padding: 10px 20px;
    color: black;
    text-decoration: none;
    font-size: 15px;  
}
.contact-button:hover{
    text-decoration: underline;
}
.details{
    display: flex;
    justify-content: center;

}
.details a{
    border-radius: 30px;
    border: 1px;
    background-color: white;
    padding: 10px 20px;
    color: black;
    text-decoration: none;
}
.hero{
    background-color: rgb(20, 0, 0);

}
p{
    border-radius: 5px;
   color: white;
    
padding: 20px 20px;
}